global:
  baseDomain: 10.100.102.7.nip.io
  auth:
    type: none # aap or none
    insecureSkipTlsVerify: false
    aap:
      apiUrl:
      externalApiUrl:
      oAuthApplicationClientId:
      oAuthToken:
