[Container]
Image=${OTEL_COLLECTOR_IMAGE}
Pull=newer
ContainerName=flightctl-otel-collector

Volume=/etc/otelcol/config.yaml:/etc/otelcol-contrib/config.yaml:ro,z
Volume=/var/lib/otelcol:/var/lib/otelcol:rw,z

PublishPort=4317:4317/tcp
PublishPort=4318:4318/tcp

Network=flightctl

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target
